<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">Page not found</h2>
        <h1 class="title">ERROR 404</h1>
        <p class="description">
        the server could not find the requested website.
        <br>
        the specific page you’re trying to access can't be reached.
        </p>
        <a href="/" class="index-button">Go to Home</a>
      </div>
      <div class="top-image">
        <img src="/images/404.png">
      </div>
    </div>
  </body>
</html>