<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h1 class="title">Shopify</h1>
        <h2 class="subtitle">A Shopping List App</h2>
        <p class="description">
          Shopify lets you create and manage your shopping list easily.
           <br>
          Add items you want anytime, anywhere.
        </p>
        <a href="/lists" class="index-button">View your list</a>
      </div>
      <div class="top-image">
        <img src="/images/index.png">
      </div>
    </div>
  </body>
</html>